include README.md
recursive-include octoprint_chimer/templates *
recursive-include octoprint_chimer/translations *
recursive-include octoprint_chimer/static *
recursive-include octoprint_chimer/data *
recursive-include octoprint_chimer/data/gcode *
